doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Typing Test
        link(rel="stylesheet", href="styles.css")
    body 
        section#timer-text 1:00
        section#test-box
            #test-box-text
        form
            input(type="text")#write-box
        section#score 
            p Your Speed: 
            p#score-wpm 99 WPM

//-     <section id="test-box">
//-         <!-- this div acts as the container for the typing area -->
//-         <div id="test-box-text">
            
//-         </div>
//-     </section>

//-     <form>
//-         <input type="text" id="write-box">
//-     </form>

//-     <section id="score">
//-         <p>Your speed:</p>
//-         <p id="score-wpm">99WPM</p>
//-     </section>


//-     <script src="textBox.js"></script>
//-     <script src="timer.js"></script>
//- </body>
//- </html>